[submodule "newfrontend"]
	path = newfrontend
	url = https://github.com/jackbang/newfrontend
[submodule "ownerversionfrontend"]
	path = ownerversionfrontend
	url = https://github.com/jackbang/ownerversionfrontend
